services:

    rabbitmq:
        image: mnesys/rabbitmq
        container_name: rabbitmq
        volumes:
            - ./system:/etc/rabbitmq/conf.d/
        ports:
            - "15672:15672"
            - "5672:5672"
        networks:
            - naoned

networks:
  naoned:
    external: true
